@using RentaRide.Utilities
@model RentaRide.Models.ViewModels.AdminPartialViewModel

<!-- Add Listing Modal -->
<div class="modal fade" id="addListingModal" tabindex="-1" aria-labelledby="addListingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3" id="modal-content-addListing">
            <!-- TITLE -->
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="addListingModalLabel">Add Listing</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModaladdListing()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- add Listing FORM -->
            <div class="modal-body text-light">
                <!-- CAR -->
                <div class="form-group mb-3">
                    <label for="addlistingCar" class="font-weight-bold mb-1">Type</label>
                    <!-- CHANGE THIS TO CAR -->
                    <select class="form-control" id="addlistingCar" required>
                        <option value="" disabled selected>Select car</option>
                        @foreach(var cars in Model.ListingsCarList)
                        {
                            <option value="@cars.listingcarID">@cars.listingcarName</option>
                        })
                    </select>
                </div>
                <!-- Hourly RATE -->
                <div class="form-group mb-3">
                    <label for="addListingHourlyRate" class="font-weight-bold mb-1">Hourly Rate (PHP)</label>
                    <input type="number" class="form-control" id="addListingHourlyRate" value="750" step="50">
                </div>
                <!-- DAILY RATE -->
                <div class="form-group mb-3">
                    <label for="addListingDailyRate" class="font-weight-bold mb-1">Daily Rate (PHP)</label>
                    <input type="number" class="form-control" id="addListingDailyRate" value="750" step="50">
                </div>
                <!-- WEEKLY RATE -->
                <div class="form-group mb-3">
                    <label for="addListingWeeklyRate" class="font-weight-bold mb-1">Weekly Rate (PHP)</label>
                    <input type="number" class="form-control" id="addListingWeeklyRate" value="7000" step="100">
                </div>
                <!-- MONTHLY RATE -->
                <div class="form-group mb-3">
                    <label for="addListingMonthlyRate" class="font-weight-bold mb-1">Monthly Rate (PHP)</label>
                    <input type="number" class="form-control" id="addListingMonthlyRate" value="20000" step="500">
                </div>
                <!-- DETAILS -->
                <div class="form-group mb-3">
                    <label for="addlistingDetails" class="font-weight-bold mb-1">Details</label>
                    <textarea type="text" class="form-control" id="addListingDetails" placeholder="Enter log details."></textarea>
                </div>
                <!-- Availability Start -->
                <div class="form-group mb-3">
                    <label for="addListingStartDate" class="font-weight-bold mb-1">Availability Start Date</label>
                    <input type="datetime-local" class="form-control" id="addListingStartDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"  placeholder="Enter Listing's availability start date'">
                </div>
                <!-- Availability End  -->
                <div class="form-group mb-3">
                    <label for="addListingEndDate" class="font-weight-bold mb-1">Availability End Date (Leave null for indefinite)</label>
                    <input type="datetime-local" class="form-control" id="addListingEndDate" placeholder="Enter Listing's availability start date">
                </div>
                <!-- ACTION BUTTONS -->
                <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalAddListing()">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="addListing()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit Listing Modal -->
<div class="modal fade" id="editListingModal" tabindex="-1" aria-labelledby="editListingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3" id="modal-content-editListing">
            <!-- TITLE -->
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="editListingModalLabel">Edit Listing's Info</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModalEditListing()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- EDIT Listing FORM -->
            <div class="modal-body text-light">
                <!-- HOURLY RATE -->
                <div class="form-group mb-3">
                    <label for="editListingHourlyRate" class="font-weight-bold mb-1">Hourly Rate (PHP)</label>
                    <input type="number" class="form-control" id="editListingHourlyRate" value="@Model.ListingDetails.listingdeetsVMHourlyRate" step="50">
                </div>
                <!-- DAILY RATE -->
                <div class="form-group mb-3">
                    <label for="editListingDailyRate" class="font-weight-bold mb-1">Daily Rate (PHP)</label>
                    <input type="number" class="form-control" id="editListingDailyRate" value="@Model.ListingDetails.listingdeetsVMDailyRate" step="50">
                </div>
                <!-- WEEKLY RATE -->
                <div class="form-group mb-3">
                    <label for="editListingWeeklyRate" class="font-weight-bold mb-1">Weekly Rate (PHP)</label>
                    <input type="number" class="form-control" id="editListingWeeklyRate" value="@Model.ListingDetails.listingdeetsVMWeeklyRate" step="100">
                </div>
                <!-- MONTHLY RATE -->
                <div class="form-group mb-3">
                    <label for="editListingMonthlyRate" class="font-weight-bold mb-1">Monthly Rate (PHP)</label>
                    <input type="number" class="form-control" id="editListingMonthlyRate" value="@Model.ListingDetails.listingdeetsVMMonthlyRate" step="500">
                </div>
                <!-- DETAILS -->
                <div class="form-group mb-3">
                    <label for="editlistingDetails" class="font-weight-bold mb-1">Details</label>
                    <textarea type="text" class="form-control" id="editlistingDetails" value="" placeholder="Enter log details.">@Model.ListingDetails.listingdeetsVMDetails</textarea>
                </div>
                <!-- STATUS -->
                <div class="form-group mb-3">
                    <label for="editlistingStatus" class="font-weight-bold mb-1">Status</label>
                    <!-- CHANGE THIS TO Status -->
                    <select class="form-control" id="editlistingStatus">
                        @for (int i = 1; i < TypeNamesUtilities.ListingStatusNames.Length; i++)
                        {
                            if (Model.ListingDetails.listingdeetsVMStatus == i)
                            {
                                    <option value="@i" selected>@TypeNamesUtilities.ListingStatusNames[i]</option>
                            }
                            else
                            {
                                <option value="@i">@TypeNamesUtilities.ListingStatusNames[i]</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <!-- ACTION BUTTONS -->
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalEditListing()">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteListing('@Model.ListingDetails.listingdeetsVMID')">End Listing</button>
                <button type="button" class="btn btn-success" onclick="editListing('@Model.ListingDetails.listingdeetsVMID')">Save Changes</button>
            </div>
        </div>
    </div>
</div>