@using RentaRide.Utilities
@model RentaRide.Models.ViewModels.AdminPartialViewModel

<!-- Add Order Modal -->
<div class="modal fade" id="addOrderModal" tabindex="-1" aria-labelledby="addOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3" id="modal-content-addOrder">
            <!-- TITLE -->
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="addOrderModalLabel">Add Order</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModaladdOrder()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- add Order FORM -->
            <div class="modal-body text-light">
                <!-- CAR -->
                <div class="form-group mb-3">
                    <label for="addlistingCar" class="font-weight-bold mb-1">Car</label>
                    <select class="form-control" id="addlistingCar">
                        <option value="" disabled selected>Select car</option>
                        @foreach (var listing in Model.OrderListings)
                        {
                            <option value="@listing.orderlistingID">@listing.orderlistingName</option>
                        })
                    </select>
                </div>
                <!-- USER -->
                <div class="form-group mb-3">
                    <label for="addlistingUser" class="font-weight-bold mb-1">User</label>
                    <select class="form-control" id="addlistingUser">
                        <option value="" disabled selected>Select User</option>
                        @foreach (var user in Model.OrderUsers)
                        {
                            <option value="@user.orderuserID">@user.orderuserName</option>
                        })
                    </select>
                </div>
                <!-- DRIVER -->
                <div class="form-group mb-3">
                    <label for="addlistingDriver" class="font-weight-bold mb-1">Driver</label>
                    <select class="form-control" id="addlistingDriver">
                        <option value="" disabled selected>Select Driver</option>
                        @foreach (var driver in Model.OrderDrivers)
                        {
                            <option value="@driver.orderdriverID">@driver.orderdriverName</option>
                        })
                    </select>
                </div>
                <!-- ORDER START -->
                <div class="form-group mb-3 order-start-div">
                    <label for="addOrderStartDate" class="font-weight-bold mb-1">Order Start Date</label>
                    <input class="form-control flatpickr-orderstart" id="addOrderStartDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" placeholder="Enter Order's availability start date'">
                </div>
                <!-- ORDER END -->
                <div class="form-group mb-3 order-end-div">
                    <label for="addOrderEndDate" class="font-weight-bold mb-1">Order End Date</label>
                    <input class="form-control flatpickr-orderend" id="addOrderEndDate" placeholder="Enter Listing's availability start date">
                </div>
                <!-- LOCATION LIMIT -->
                <div class="form-group mb-3">
                    <label for="addOrderLocLimit" class="font-weight-bold mb-1">Furthest Travel Location</label>
                    <input class="form-control" id="addOrderLocLimit" placeholder="Enter Location Limit">
                </div>
                <!-- NOTES -->
                <div class="form-group mb-3">
                    <label for="addOrderNotes" class="font-weight-bold mb-1">Order Notes</label>
                    <input class="form-control" id="addOrderNotes" placeholder="Enter Order Notes">
                </div>
                <!-- PAYMENT METHOD -->
                <div class="form-group mb-3">
                    <label for="addlistingPaymentMethod" class="font-weight-bold mb-1">Payment Method</label>
                    <!-- CHANGE THIS TO PAYMENT METHOD -->
                    <select class="form-control" id="addlistingPaymentMethod">
                        <option value="" disabled selected>Select Payment Method</option>
                        @for (int i = 1; i < TypeNamesUtilities.PayTypeNames.Length; i++)
                        {
                            <option value="@i">@TypeNamesUtilities.PayTypeNames[i]</option>
                        }
                    </select>
                </div>
                <!-- PAYMENT STATUS -->
                <div class="form-group mb-3">
                    <label for="addlistingPaymentStatus" class="font-weight-bold mb-1">Payment Status</label>
                    <!-- CHANGE THIS TO PAYMENT STATUS -->
                    <select class="form-control" id="addlistingPaymentStatus">
                        <option value="" disabled selected>Select Payment Status</option>
                        @for (int i = 2; i < TypeNamesUtilities.OrderStatusNames.Length; i++)
                        {
                            <option value="@i">@TypeNamesUtilities.OrderStatusNames[i]</option>
                        }
                    </select>
                </div>
                <!-- PROOF OF PAYMENT -->
                <div class="form-group mb-3">
                    <label for="addOrderProofOfPayment" class="font-weight-bold mb-1">Proof Of Payment</label>
                    <input type="file" class="form-control" id="addOrderProofOfPayment" placeholder="Enter driver's license">
                </div>
            </div>
            <!-- ACTION BUTTONS -->
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalAddOrder()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="openNextModal()">Continue</button>
            </div>
        </div>
    </div>
</div>


<!-- Order Compute Modal -->
<div class="modal fade" id="addOrderCostModal" tabindex="-1" aria-labelledby="addOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3" id="modal-content-addOrder">
            <!-- TITLE -->
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="addOrderModalLabel">Suggested cost computation</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModaladdOrder()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- add Order FORM -->
            <div class="modal-body text-light">
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Hourly [₱<span id="hourlyCost"></span> x <span id="HoursCalc"></span> Hrs]: </strong></div>
                    <div class="text-right">Cost: <span id="HourCost"></span></div>
                </div>
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Daily [₱<span id="dailyCost"></span> x <span id="DaysCalc"></span> Days]: </strong></div>
                    <div class="text-right">Cost: <span id="DayCost"></span></div>
                </div>
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Weekly [₱<span id="weeklyCost"></span> x <span id="WeeksCalc"></span> Weeks]: </strong></div>
                    <div class="text-right">Cost: <span id="WeekCost"></span></div>
                </div>
                <div class="form-group mb-3">
                    <div class="text-left font-weight-bold mb-1"><strong>Monthly [₱<span id="monthlyCost"></span> x <span id="MonthsCalc"></span> Months]: </strong></div>
                    <div class="text-right">Cost: <span id="MonthCost"></span></div>
                </div>

                <!-- CUSTOM COST -->
                <div class="form-group mb-3">
                    <label for="addOrderTotalCost" class="font-weight-bold mb-1">Suggested Total Cost (PHP)</label>
                    <input type="number" class="form-control" id="addOrderTotalCost" value="0" step="100">
                </div>
                <!-- EXTRA FEES -->
                <div class="form-group mb-3">
                    <label for="addOrderExtraFees" class="font-weight-bold mb-1">Extra Fees (PHP)</label>
                    <input type="number" class="form-control" id="addOrderExtraFees" value="0" step="100">
                </div>
            </div>
            <!-- ACTION BUTTONS -->
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNextModal()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="addOrder()">Place Order</button>
            </div>
        </div>
    </div>
</div>

<!-- Orders Modal Structure -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg p-2">
        <div class="modal-content bg-dark-secondary text-white p-3">
            <!-- TITLE -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModalOrderDetails()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- LEFT COLUMN -->
                        <div class="col-md-6">
                            <p><strong>Order ID:</strong>@Model.OrderDetails.orderdeetsVMID</p>
                            <p><strong>Receipt ID:</strong> @Model.OrderDetails.orderdeetsVMReceipt</p>
                            <p><strong>Name:</strong> @Model.OrderDetails.orderdeetsVMCustName</p>
                            <p><strong>Car:</strong> @Model.OrderDetails.orderdeetsVMCarName</p>
                            <p><strong>Plate Number:</strong> @Model.OrderDetails.orderdeetsVMPlateNumber</p>
                            <p><strong>Order Date:</strong> @Model.OrderDetails.orderdeetsVMFormattedStartDate</p>
                            <p><strong>Return Date:</strong> @Model.OrderDetails.orderdeetsVMFormattedEndDate</p>
                            <p><strong>Cost:</strong> @Model.OrderDetails.orderdeetsVMTotalCost</p>
                            <p><strong>Extra Fees:</strong> @Model.OrderDetails.orderdeetsVMExtraFees</p>
                            <p><strong>Status:</strong> @Model.OrderDetails.orderdeetsVMPStatusName</p>

                        </div>
                        <!-- RIGHT COLUMN -->
                        <div class="col-md-6">
                            <!-- PROOF OF PAYMENT PLACEHOLDER -->
                            <div class="mb-3">
                                <label class="mb-2"><strong>Proof of Payment:</strong></label>
                                <div id="modalProofOfPayment" class="clickable w-100 mb-3 border p-2 rounded d-flex justify-content-center align-items-center position-relative" style="width: 200px; height: 330px; margin: auto;" data-bs-toggle="modal" data-bs-target="#proofOfPaymentModal">
                                    <div class="text-light position-absolute top-50 start-50 translate-middle" style="z-index: 10; padding: 5px;">SHOW</div>
                                    <img src="@Model.OrderDetails.orderdeetsVMPOPIMGPicture" alt="Proof of Payment" style="width: 100%; height: 100%; object-fit: cover; filter: blur(5px);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ACTION BTNS -->
            <div class="modal-footer mb-3 border-top-0 d-flex justify-content-center align-content-center">
                @* @Html.TextBoxFor(m => m.VerifyOrder.orderId, new { @class = "form-control", type = "hidden", id = "orderID-Verify" }) *@
                <button style="min-width:100px;" type="button" class="btn btn-secondary btn-lg rounded-2" onclick="openEndOrderModal()">End Order</button>
                <button style="min-width:100px;" type="button" class="btn btn-danger btn-lg rounded-2" onclick="setOrderVerify(@Model.OrderDetails.orderdeetsVMID,'5')">Deny</button>
                <button style="min-width:100px;" type="button" class="btn btn-warning btn-lg rounded-2" onclick="setOrderVerify(@Model.OrderDetails.orderdeetsVMID,'3')">Pending</button>
                <button style="min-width:100px;" type="button" class="btn btn-success btn-lg rounded-2" onclick="setOrderVerify(@Model.OrderDetails.orderdeetsVMID,'2')">Approve</button>
            </div>
        </div>
    </div>
</div>

<!-- Proof of Payment Modal -->
<div class="modal fade" id="proofOfPaymentModal" tabindex="-1" aria-labelledby="proofOfPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom p-2">
        <div class="modal-content bg-glass p-3">
            <!-- TITLE -->
            <div class="modal-header text-light border-bottom-0">
                <h5 class="modal-title" id="proofOfPaymentModalLabel">Proof of Payment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- PROOF OF PAYMENT -->
                <div class="row mb-3">
                    <div class="col text-center">
                        <img id="proofOfPaymentImage" src="@Model.OrderDetails.orderdeetsVMPOPIMGPicture" alt="Proof of Payment Front" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- End Order Modal -->
<div class="modal fade" id="endOrderModal" tabindex="-1" aria-labelledby="endOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark p-3" id="modal-content-endOrder">
            <!-- TITLE -->
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="endOrderModalLabel">End Order</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeEndOrderModal()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- End Order FORM -->
            <div class="modal-body text-light">
                <!-- MILEAGE -->
                <div class="form-group mb-3">
                    <label for="endOrderMileage" class="font-weight-bold mb-1">Mileage</label>
                    <input class="form-control" id="endOrderMileage" placeholder="Enter total mileage">
                </div>
                <!-- RATINGS -->
                <div class="form-group mb-3">
                    <label for="endOrderRating" class="font-weight-bold mb-1">Rating</label>
                    <input class="form-control" id="endOrderRating" placeholder="Enter rating out of 5">
                </div>
                <!-- DETAILS -->
                <div class="form-group mb-3">
                    <label for="endOrderDetails" class="font-weight-bold mb-1">Details</label>
                    <textarea class="form-control" id="endOrderDetails" placeholder="Enter additional details"></textarea>
                </div>
            </div>
            <!-- ACTION BUTTONS -->
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalEndOrder()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="submitEndOrder()">Submit</button>
            </div>
        </div>
    </div>
</div>
