@using RentaRide.Utilities
@model RentaRide.Models.ViewModels.AdminPartialViewModel

<div class="w-100 d-flex justify-content-center">
    <div class="row table-responsive bg-dark-secondary text-white">
        <div class="row justify-content-between mt-4 search-filter-container">
            @* TITLE *@
            <div class="col-md-3 d-flex align-items-center">
                <h1 class="text-light ms-2 search-filter-title">Drivers</h1>
            </div>
            @* SEARCH AND FILTER *@
            <div class="col-md-9 d-flex justify-content-end">
                <form class="d-flex justify-content-end align-items-center rounded-3 search-filter-form" onsubmit="return false;">
                    <input id="searchInput" class="form-control me-2 rounded-3 search-input" type="search" placeholder="Search" aria-label="Search">
                    <select id="statusFilter" class="form-select me-2 filter-select">
                        <option value="" selected>All Statuses</option>
                        <option value="active">Active</option>
                        <option value="onduty">On Duty</option>
                        <option value="delay">Inactive</option>
                    </select>
                    <button id="searchButton" class="btn btn-outline-light rounded-3 search-filter-btn" type="button" onclick="filterTable()">Search</button>
                </form>
            </div>
        </div>
        @* ADD DRIVER BUTTON *@
        <div class="mt-2 mb-2 me-3 col-md-12 d-flex justify-content-end">
            <button class="btn btn-success addnew-btn" type="button" onclick="openModalAddDriver()">Add New +</button>
        </div>
        @* LOADER *@
        <div id="loader" class="d-flex justify-content-center align-items-center d-none" style="height:70vh; margin-bottom:100px;">
            <partial name="_LoadingSimple"></partial>
        </div>
        @* DRIVERS TABLE *@
        <div id="tableContent" class="d-flex justify-content-center">
            @if (Model.Drivers != null && Model.Drivers.Any())
            {
                <div class="table-container">
                    <table class="table table-drivers mt-1">
                        @* HEADER *@
                        <thead class="text-light">
                            <tr>
                                <th class="text-center img-col">Picture</th>
                                <th class="text-center sortable" onclick="sortTable(0)">ID <i class="fas fa-sort ms-1"></i></th>
                                <th class="sortable" onclick="sortTable(1)">Name <i class="fas fa-sort ms-1"></i></th>
                                <th class="sortable" onclick="sortTable(2)">Date Created <i class="fas fa-sort ms-1"></i></th>
                                <th class="sortable" onclick="sortTable(3)">Last Duty<i class="fas fa-sort ms-1"></i></th>
                                <th class="text-center">Status</th>
                                <th class="text-center">License</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        @* BODY *@
                        <tbody id="usersTable" class="text-light table-body">
                            @foreach (var driver in Model.Drivers)
                            {
                                <tr class="table-row">
                                    @* PICTURE OF DRIVER *@
                                    <td class="text-center img-col">
                                        <img src="FileUploads/@ImageCategories.imgProfile/@driver.driverVMImage" alt="hugenerd" width="30" height="30" class="rounded-circle clickable" onclick="openModalDriverPicture('FileUploads/@ImageCategories.imgProfile/@driver.driverVMImage')">
                                    </td>
                                    <td class="text-center">@driver.driverVMID</td>
                                    @* FULL NAME *@
                                    <td>@driver.driverVMFullName</td>
                                    @* DATE CREATED *@
                                    <td>@driver.FormattedDateCreated</td>
                                    @* LAST DUTY DATE *@
                                    <td>@driver.FormattedDateLastDuty</td>
                                    @* STATUS INFO*@
                                    <td class="text-center status status-@driver.driverVMfilterStatus"><span class="status-label text-dark">@driver.driverVMStatus</span></td>
                                    @* VIEW LICENSE BTN *@
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-sm rounded-3" onclick="openModalViewDriverLicense('FileUploads/@ImageCategories.imgLicense/@driver.driverVMLicense','FileUploads/@ImageCategories.imgLicenseBack/@driver.driverVMLicenseBack')">View</button>
                                    </td>
                                    @* ACTION BTNS *@
                                    <td class="text-center td-actions">
                                        <i id="contactAction" class="fas fa-phone fa-lg me-2" onclick="openModalDriverContact('@driver.driverVMFullName','@driver.driverVMContact','@driver.driverVMEmail')" style="cursor:pointer; color:#a5f6c6;"></i>
                                        <i class="fas fa-edit fa-lg me-2" onclick="openModalEditDriver('@driver.driverVMID','@driver.driverVMFirstName','@driver.driverVMMiddleName','@driver.driverVMLastName','@driver.driverVMEmail','@driver.driverVMContact','@driver.driverVMfilterStatus')" style="cursor:pointer; color:#35bbd8;"></i>
                                        <i class="fas fa-trash-alt fa-lg" onclick="openModalDeleteDriver('@driver.driverVMFullName','@driver.driverVMID')" style="cursor:pointer; color:#c1272d;"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="no-results" class="text-center" style="margin-top:180px; display:none;">
                        <h3>No drivers found.</h3>
                    </div>
                </div>
            }
            else
            {
                <div class="table-container">
                    <table class="table table-drivers mt-1">
                        @* HEADER *@
                        <thead class="text-light">
                            <tr>
                                <th class="text-center img-col">Picture</th>
                                <th class="text-center sortable" onclick="sortTable(0)">ID <i class="fas fa-sort ms-1"></i></th>
                                <th class="sortable" onclick="sortTable(1)">Name <i class="fas fa-sort ms-1"></i></th>
                                <th class="sortable" onclick="sortTable(2)">Date Created <i class="fas fa-sort ms-1"></i></th>
                                <th class="sortable" onclick="sortTable(3)">Last Duty<i class="fas fa-sort ms-1"></i></th>
                                <th class="text-center">Status</th>
                                <th class="text-center">License</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        @* BODY *@
                        <tbody id="usersTable" class="text-light">
                        </tbody>
                    </table>
                    <div class="text-center" style="margin-top:180px;">
                        <h3>No drivers found.</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Add New Driver Modal -->
<div class="modal fade" id="addNewDriverModal" tabindex="-1" aria-labelledby="addNewDriverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3">
            @* TITLE *@
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="addNewDriverModalLabel">Add New Driver</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModalAddDriver()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* @using (Html.BeginForm("AddNewDriver", "Admin", FormMethod.Post, new { id = "addDriverForm", enctype = "multipart/form-data" }))
            { *@
            @* ADD DRIVER FORM *@
            <div class="modal-body text-light">
                @* FIRST NAME *@
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.AddDriver.drivmodelFirstName, new { @class = "font-weight-bold mb-1"})
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelFirstName, new { @class = "form-control", placeholder = "Enter driver's first name", type = "text", id = "driverFirstName" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelFirstName, "", new { @class = "text-danger" })
                    @* <label for="driverFirstName" class="font-weight-bold mb-1">First Name</label>
                    <input type="text" class="form-control" id="driverFirstName" placeholder="Enter driver's first name"> *@
                </div>
                @* MIDDLE NAME *@
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.AddDriver.drivmodelMiddleName, new { @class = "font-weight-bold mb-1" })
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelMiddleName, new { @class = "form-control", placeholder = "Enter driver's middle name", type = "text", id = "driverMiddleName" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelMiddleName, "", new { @class = "text-danger" })
                    @*  <label for="driverMiddleName" class="font-weight-bold mb-1">Middle Name</label>
                    <input type="text" class="form-control" id="driverMiddleName" placeholder="Enter driver's middle name"> *@
                </div>
                @* LAST NAME *@
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.AddDriver.drivmodelLastName, new { @class = "font-weight-bold mb-1" })
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelLastName, new { @class = "form-control", placeholder = "Enter driver's last name", type = "text", id = "driverLastName" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelLastName, "", new { @class = "text-danger" })
                    @* <label for="driverLastName" class="font-weight-bold mb-1">Last Name</label>
                    <input type="text" class="form-control" id="driverLastName" placeholder="Enter driver's last name"> *@
                </div>
                @* EMAIL *@
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.AddDriver.drivmodelEmail, new { @class = "font-weight-bold mb-1" })
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelEmail, new { @class = "form-control", placeholder = "Enter driver's email", type = "email", id = "driverEmail" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelEmail, "", new { @class = "text-danger" })
                    @* <label for="driverEmail" class="font-weight-bold mb-1">Email</label>
                    <input type="email" class="form-control" id="driverEmail" placeholder="Enter driver's email"> *@
                </div>
                @* CONTACT *@
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.AddDriver.drivmodelContact, new { @class = "font-weight-bold mb-1" })
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelContact, new { @class = "form-control", placeholder = "Enter driver's contact number", type = "text", id = "driverContact" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelContact, "", new { @class = "text-danger" })
                    @* <label for="driverContact" class="font-weight-bold mb-1">Contact</label>
                    <input type="text" class="form-control" id="driverContact" placeholder="Enter driver's contact number"> *@
                </div>
                @* PICTURE OF DRIVER *@
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.AddDriver.drivmodelImage, new { @class = "font-weight-bold mb-1" })
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelImage, new { @class = "form-control", placeholder = "Upload driver's picture", type = "file", id = "driverPicture" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelImage, "", new { @class = "text-danger" })
                    @* <label for="driverPicture" class="font-weight-bold mb-1">Picture of Driver</label>
                    <input type="file" class="form-control" id="driverPicture" placeholder="Enter driver's picture"> *@
                </div>
                @* DRIVER'S LICENSE FRONT *@
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.AddDriver.drivmodelLicense, new { @class = "font-weight-bold mb-1" })
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelLicense, new { @class = "form-control", placeholder = "Upload driver's license (Front)", type = "file", id = "driverLicenseFront" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelLicense, "", new { @class = "text-danger" })
                    @* <label for="driverLicenseFront" class="font-weight-bold mb-1">Front of Driver's License</label>
                    <input type="file" class="form-control" id="driverLicenseFront" placeholder="Enter driver's license"> *@
                </div>
                @* DRIVER'S LICENSE BACK *@
                <div class="form-group">
                    @Html.LabelFor(m => m.AddDriver.drivmodelLicenseBack, new { @class = "font-weight-bold mb-1" })
                    @Html.TextBoxFor(m => m.AddDriver.drivmodelLicenseBack, new { @class = "form-control", placeholder = "Upload driver's license (Back)", type = "file", id = "driverLicenseBack" })
                    @Html.ValidationMessageFor(m => m.AddDriver.drivmodelLicenseBack, "", new { @class = "text-danger" })
                    @* <label for="driverLicenseBack" class="font-weight-bold mb-1">Back of Driver's License</label>
                    <input type="file" class="form-control" id="driverLicenseBack" placeholder="Enter driver's license"> *@
                </div>
            </div>
            @* ACTION BTNS *@
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalAddDriver()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="addDriver()">Add Driver</button>
            </div>
            @* } *@
        </div>
    </div>
</div>

<!-- Edit Driver Modal -->
<div class="modal fade" id="editDriverModal" tabindex="-1" aria-labelledby="editDriverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3">
            @* TITLE *@
            <div class="modal-header text-light border-0">
                <h5 class="modal-title" id="editDriverModalLabel">Edit (Name)'s Info</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModalEditDriver()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* EDIT DRIVER FORM *@
            <div class="modal-body text-light">
                @* <form id="editDriverForm"> *@
                    @Html.TextBoxFor(m => m.EditDriver.driveditmodelID, new { @class = "form-control", type = "hidden", id = "driverID-edit" })
                    @* FIRST NAME *@
                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelFirstName, new { @class = "font-weight-bold mb-1"})
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelFirstName, new { @class = "form-control", placeholder = "Enter driver's first name", type = "text", id = "driverFirstName-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelFirstName, "", new { @class = "text-danger" })
                        @* <label for="driverFirstName-edit" class="font-weight-bold mb-1">First Name</label>
                        <input type="text" class="form-control" id="driverFirstName-edit" placeholder="Enter driver's first name"> *@
                    </div>
                    @* MIDDLE NAME *@
                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelMiddleName, new { @class = "font-weight-bold mb-1" })
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelMiddleName, new { @class = "form-control", placeholder = "Enter driver's middle name", type = "text", id = "driverMiddleName-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelMiddleName, "", new { @class = "text-danger" })
                        @* <label for="driverMiddleName-edit" class="font-weight-bold mb-1">Middle Name</label>
                        <input type="text" class="form-control" id="driverMiddleName-edit" placeholder="Enter driver's middle name"> *@
                    </div>
                    @* LAST NAME *@
                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelLastName, new { @class = "font-weight-bold mb-1" })
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelLastName, new { @class = "form-control", placeholder = "Enter driver's last name", type = "text", id = "driverLastName-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelLastName, "", new { @class = "text-danger" })
                        @* <label for="driverLastName-edit" class="font-weight-bold mb-1">Last Name</label>
                        <input type="text" class="form-control" id="driverLastName-edit" placeholder="Enter driver's last name"> *@
                    </div>
                    @* EMAIL *@
                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelEmail, new { @class = "font-weight-bold mb-1" })
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelEmail, new { @class = "form-control", placeholder = "Enter driver's email", type = "email", id = "driverEmail-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelEmail, "", new { @class = "text-danger" })
                        @* <label for="driverEmail-edit" class="font-weight-bold mb-1">Email</label>
                        <input type="email" class="form-control" id="driverEmail-edit" placeholder="Enter driver's email"> *@
                    </div>
                    @* CONTACT *@
                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelContact, new { @class = "font-weight-bold mb-1" })
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelContact, new { @class = "form-control", placeholder = "Enter driver's contact number", type = "text", id = "driverContact-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelContact, "", new { @class = "text-danger" })
                        @* <label for="driverContact-edit" class="font-weight-bold mb-1">Contact</label>
                        <input type="text" class="form-control" id="driverContact-edit" placeholder="Enter driver's contact number"> *@
                    </div>
                    @* STATUS INFO *@
                    <div class="form-group mb-3">
                        @* <label for="driverStatus-edit" class="font-weight-bold mb-1">Status</label>
                        <select class="form-control" id="driverStatus-edit">
                            <option value="active">Active</option>
                            <option value="onduty">On Duty</option>
                            <option value="inactive">Inactive</option>
                        </select> *@
                        @Html.LabelFor(m => m.EditDriver.driveditmodelStatus, new { @class = "font-weight-bold mb-1" })
                        @Html.DropDownList("driverStatus-edit", new SelectList(new List<Object>{
                        new { value = "active" , text = "Active"  },
                        new { value = "onduty" , text = "On Duty" },
                        new { value = "delay" , text = "Inactive" }
                        }, "value", "text"), new { @class = "form-control" })
                        </div>
                    @* PICTURE OF DRIVER *@
                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelImage, new { @class = "font-weight-bold mb-1" })
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelImage, new { @class = "form-control", placeholder = "Enter driver's picture", type = "file", id = "driverPicture-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelImage, "", new { @class = "text-danger" })
                        @* <label for="driverPicture-edit" class="font-weight-bold mb-1">Picture</label>
                        <input type="file" class="form-control" id="driverPicture-edit" placeholder="Enter driver's picture"> *@
                    </div>
                    @* DRIVER'S LICENSE FRONT *@
                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelLicense, new { @class = "font-weight-bold mb-1" })
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelLicense, new { @class = "form-control", placeholder = "Enter driver's license (Front)", type = "file", id = "driverLicenseFront-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelLicense, "", new { @class = "text-danger" })
                        @* <label for="driverLicenseFront-edit" class="font-weight-bold mb-1">Front of Driver's License</label>
                        <input type="file" class="form-control" id="driverLicenseFront-edit" placeholder="Enter driver's license"> *@
                    </div>
                    @* DRIVER'S LICENSE BACK *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.EditDriver.driveditmodelLicenseBack, new { @class = "font-weight-bold mb-1" })
                        @Html.TextBoxFor(m => m.EditDriver.driveditmodelLicenseBack, new { @class = "form-control", placeholder = "Enter driver's license (Back)", type = "file", id = "driverLicenseBack-edit" })
                        @Html.ValidationMessageFor(m => m.EditDriver.driveditmodelLicenseBack, "", new { @class = "text-danger" })
                        @* <label for="driverLicenseBack-edit" class="font-weight-bold mb-1">Back of Driver's License</label>
                        <input type="file" class="form-control" id="driverLicenseBack-edit" placeholder="Enter driver's license"> *@
                    </div>
                @* </form> *@
            </div>
            @* ACTION BTNS *@
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalEditDriver()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="editDriver()">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Drivers License Modal -->
<div class="modal fade" id="driversLicenseModal" tabindex="-1" aria-labelledby="driversLicenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom p-2">
        <div class="modal-content bg-glass p-3">
            @* TITLE *@
            <div class="modal-header text-light border-bottom-0">
                <h5 class="modal-title" id="driversLicenseModalLabel">Driver's License</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModalViewDriverLicense()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* FRONT PICTURE *@
                <div class="row mb-3">
                    <div class="col text-center">
                        <h5 id="driversLicenseFrontLabel">Front</h5>
                        <img id="driversLicenseFrontImage" src="" alt="Driver's License Front" class="img-fluid">
                    </div>
                </div>
                @* BACK PICTURE *@
                <div class="row">
                    <div class="col text-center">
                        <h5 id="driversLicenseBackLabel">Back</h5>
                        <img id="driversLicenseBackImage" src="" alt="Driver's License Back" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Modal Structure -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom p-2">
        <div class="modal-content bg-dark-secondary text-white p-3">
            @* TITLE *@
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title" id="contactModalLabel">Contact Info</h4>
                <button type="button" class="btn-close btn-close-white" onclick="closeModalDriverContact()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* CONTACT INFO *@
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center mb-4">
                            <h5><span id="modalUserName" class="mb-3"></span></h5>
                            <h5><span id="modalUserEmail" class="mb-3"></span></h5>
                            <h5><span id="modalUserContact" class="mb-3"></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Drivers Picture Modal -->
<div class="modal fade" id="driversPictureModal" tabindex="-1" aria-labelledby="driversPictureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom p-2">
        <div class="modal-content bg-glass p-3">
            @* TITLE *@
            <div class="modal-header text-light border-bottom-0">
                <h5 class="modal-title" id="driversPictureModalLabel">Driver's Picture</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* DRIVER PICTURE *@
            <div class="modal-body d-flex justify-content-center align-items-center">
                <img id="driversPictureImage" src="" alt="Driver's Picture" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- Delete Driver Modal -->
<div class="modal fade" id="deleteDriverModal" tabindex="-1" aria-labelledby="deleteDriverModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2">
        <div class="modal-content bg-dark-secondary p-3">
            @* EDIT DRIVER FORM *@
            @Html.TextBoxFor(m => m.DelDriver.drivdelmodelID, new { @class = "form-control", type = "hidden", id = "driverID-delete" })
            <div class="modal-body text-light text-center mt-4">
                <h4>Do you really want to remove</h4>
                <h4 id="deleteDriverName" class="mt-2"></h4>
            </div>
            @* ACTION BTNS *@
            <div class="modal-footer d-flex justify-content-center border-0 mb-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalDeleteDriver()">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteDriver()">Delete</button>
            </div>
        </div>
    </div>
</div>